[build]
  # 1. Generate keys, 2. Build the app
  command = "chmod +x build-env.sh && ./build-env.sh && npm run build"
  
  # This MUST be dist because that's where your audio and HTML are
  publish = "dist"
  
  # Point this to the folder that caused the JSON error
  functions = "functions"

[build.environment]
  SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200