    [build]
      command = "npm install && npm run build"
      publish = "dist"
      functions = "functions"

    [build.environment]
      SECRETS_SCAN_SMART_DETECTION_ENABLED = "false"

    [[headers]]
      for = "/*.js"
      [headers.values]
        Content-Type = "application/javascript"

    [[headers]]
      for = "/*.map"
      [headers.values]
        Content-Type = "application/json"

    [context.production]
      environment = { NETLIFY_USE_DIRECTORY_INDEX = "false" }

    [[plugins]]
    package = "@netlify/plugin-functions-install-core"

